.shopList{
  border: 1px #c95555 solid;
}

.main-cart {
  margin-top: 74px;
}
// 購物車
.cart-block {
  background: #f5f5f5;
  border-radius: 5px;
}

.carts-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.border-line {
  color: #c95555;
}

.photo-container {
  display: flex;
}

.total-block {
  background: #f2f2f2;
}

.btn-color{
  background: #5b4d4d;
  &:hover {
    background: #382f2f;
  }
}
.total-btn {
  padding: 80px;
}

// 優惠卷
// .coupon-block{
//   width: 40%;
// }
.coupon-block{
  padding-left: 68%;
}
.coupon-button {
  border-radius: 0 0 0 0 ;
}
// .coupon-button {
//   border-radius:  0.25rem 0.25rem 0;
// }