.group-color {
  background: #bf0000;
}
.breadcrumb-link{
  color: #BF0000;

  &:hover {
    color: #BF0000;
  }

}
.products-banner {
  margin-top: 100px;
}

[v-cloak] {
  display: none;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #bf0000;
  border-color: #bf0000;
}
.card-products-img{
  height: 200px;
  object-fit: cover;
}


// product 單一產品

.main-product{
  margin-top: 74px;
}
// .shape-border{
//   border-radius: 6px;
// }
.product-id{
  font-size: 14px;
}

// button 數量樣式
.custom-left-rounded {
  border-radius: 0.25rem 0 0 0.25rem;
}
.custom-right-rounded  {
  border-radius: 0 0.25rem 0.25rem 0;
}

.freight-content {
  background-color: #f0f0f0;
}

// Swiper icon顏色
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #e8e8e8;
}

.card-img {
  height: 200px;
  object-fit: cover;
}
.card-img,
.card-img-bottom {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}